{% extends "layout.html" %}
{% block content %}
  <div class="col-md-12">
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#"> Test </a>
          <small class="text-muted">Test</small>
        </div>
        <h2><a class="article-title" href="#">Test</a></h2>
        <p class="article-content">Test</p>
      </div>
    </article>
  </div>

  {% include 'scoreboard-rect.html' %}
{% endblock content %}